button {
  color: black;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgb(242, 161, 132);
  box-shadow: 3px 3px rgb(62, 62, 62);
  padding-block: 3px;
  padding-inline: 7px;
  width: fit-content;
  cursor: pointer;
}

.challenge-button {
  color: black;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px rgb(62, 62, 62);
  padding-block: 3px;
  padding-inline: 7px;
  width: fit-content;
  cursor: pointer;
}

.challenge-button:hover {
  box-shadow: 3px 3px rgb(62, 62, 62);
}

.title {
  margin-bottom: 28px;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 0px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  margin-top: 0px;
}
/* 
a:hover {
  background-color: rgb(248, 187, 165);
} */

.tag {
  border-radius: 10px;
  border: 2px solid rgb(242, 161, 132);
  background-color: rgba(242, 161, 132, 0.2);
  padding-block: 1px;
  padding-inline: 5px;
  font-size: 1rem;
}

.book {
  border-radius: 10px;
  border: 2px solid rgb(242, 161, 132);
  background-color: rgba(242, 161, 132, 0.2);
  padding-block: 1px;
  padding-inline: 5px;
  font-size: 1rem;
  width: fit-content;
}

.links {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: absolute;
  bottom: 20px;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: end;
  align-items: center;
  height: 60px;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  padding: 20px;
  gap: 20px;
}

.navbar > a {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-weight: 400;
  font-size: 19px;
}

.dot {
  border-radius: 100%;
  border: solid red 2px;
  box-shadow: 5px 5px 15px 15px white;
  cursor: pointer;
}

.snapshot-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-inline: 20px;
  width: 600px;
  border-radius: 10px;
  background-color: #c5faf7;
  border: 2px solid black;
  box-shadow: 5px 5px rgb(62, 62, 62);
  position: relative;
}

@media (width <= 600px) {
  .snapshot-card {
    width: 320px;
  }
}

.snapshot-card > h2 {
  margin-bottom: 2px;
  margin-top: 8px;
  font-size: 1.4rem;
}

.snapshot-card > p {
  margin: 0px;
}

.snapshot-projects {
  display: flex;
  gap: 10px;
}

.snapshot-books {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.challenges {
  margin-top: 30px;
}

.wonderings {
  margin-top: 0px;
  display: block;
  text-align: start;
}
