/* .item {
  background-color: rgb(46, 47, 47);
  border: 3px solid pink;
  border-radius: 4px;
  display: flex;
  justify-content: center;
} */

.container {
  display: grid;
  /* border: 2px solid white; */
  justify-items: center;
  align-items: center;
  justify-self: center;
}

.container > * {
  width: var(--size);
  height: var(--size);
}

.inputs {
  display: flex;
  gap: 10px;
  justify-self: center;
  margin-bottom: 10px;
}

label > input,
.input-container > input {
  color: white;
  font-size: 1.5rem;
  border: 3px solid white;
  padding-inline: 10px;
}

label {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 192px;
}

@media (width < 800px) {
  label {
    width: 70px;
    font-size: 0.8rem;
  }

  label > input {
    font-size: 1rem;
    width: 70px;
    border: 1px solid white;
  }
}

.back-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  background-color: var(--secondary-100);
  width: 60px;
  border: solid aquamarine 2px;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
