@import 'tailwindcss';

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #c5faf7, #7ee4df);
  min-height: 100vh;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 65px;
  min-height: 100vh;
  height: auto;
}
