@import 'tailwindcss';

@theme {
  --color-primary: #292d3e;
  --color-primary-hover: #393e57;
  --color-surface: #c5faf7;
  --color-accent: #52c1bc;
  --color-light-accent: #ffffff;
  --color-shadow: #3e3e3e;

  --shadow-sm-primary: 2px 2px var(--color-shadow);
  --shadow-md-primary: 5px 5px var(--color-shadow);
}

html {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #c5faf7, #7ee4df);
  min-height: 100vh;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 65px;
  min-height: 100vh;
  height: auto;
}
