@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes from-center {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.particle {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: hsl(30, 90%, 80%);
  animation: from-center forwards var(--disperse-duration),
    fade-out forwards var(--fade-duration);
  pointer-events: none;
}

.like-button {
  position: relative;
  /* position: absolute; */
  width: 100px;
  height: 100px;
  top: 15px;
  right: 15px;
  padding: 16px;
  background-color: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
}

.like-button path {
  stroke: var(--heart-color, hsl(264, 92%, 57%));
  transition: all 0.3s ease;
  stroke-width: 2;
  fill: none;
}

.like-button:hover path {
  fill: var(--heart-color-light, #8f74ef);
  stroke: var(--heart-color, hsl(257, 91%, 60%));
  stroke-width: 2.5;
}

.like-button.liked path {
  fill: var(--heart-color-light, #8f74ef);
  stroke: var(--heart-color, hsl(257, 91%, 60%));
}

.like-button svg {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  transition: transform 0.2s ease;
}

.like-button:hover svg {
  transform: scale(1.1);
}

/*
  This utility class will hide the element from the screen, but it will remain accessible for folks using screen readers.
  For more information, see:
  https://www.joshwcomeau.com/snippets/react-components/visually-hidden/
*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
